.well.sidebar-nav
  %h3 Time Scales
  %ul.nav.nav-list
    %li.nav-header Select a Scale
    =list_of Metric::TIME_SCALES do |time_scale|
      - if @measureable
        =link_to time_scale.capitalize, measureable_path(@measureable, :time_scale => time_scale)
      - elsif @service
        =link_to time_scale.capitalize, service_path(@service, :time_scale => time_scale)
