// You should replace all this content with your styles :)
// Of course you can grab from here something you like :)

.container
  .header
    %h1 EGG Events
  .content
    %h2 Posting Events to EGG
      This is in a div, no?

